<% content_for :head do %>
  <%= stylesheet_link_tag "/about/css/globals.css" %>
  <%= stylesheet_link_tag "/about/css/styleguide.css" %>
  <%= stylesheet_link_tag "/about/css/u1086-u1085u1072u1089.css" %>
  <%= stylesheet_link_tag "/about/assets/index-CYxohyJE.css" %>
  <%= javascript_include_tag "/about/assets/index-D4y50xz6.js", type: "module", crossorigin: "anonymous" %>
<% end %>

<div class="about-page">
 
  <div class="u1086-u1085u1072u1089 screen">
    <img class="mask-group" src="/about/img/mask-group-2.png" alt="Mask group" />
    <h1 class="title">BOMBED</h1>
    <div class="place">MEDIA</div>
    <img class="rectangle-10" src="/about/img/rectangle-10-1.png" alt="Rectangle 10" />
    <div class="text-1">рассказываем о провалах честно</div>
    <p class="text-2">
      Мы собираем и рассказываем истории <br />о неудачах — людей, проектов и идей. <br />За каждым успехом стоит опыт ошибок.
      Мы верим, что провал — не точка, а часть пути. Наши материалы помогают увидеть ценность ошибок,
      научиться на чужом опыте и почувствовать, что ты не один.
    </p>
    <div class="blew-it sfprodisplay-medium-black-30px">BLEW IT</div>
    <img class="vector-255" src="/about/img/vector-255-1.svg" alt="Vector 255" />
    <div class="group-2087325854">
      <img class="rectangle-11" src="/about/img/rectangle-11-1@2x.png" alt="Rectangle 11" />
      <img class="vector-257" src="/about/img/vector-257-1.svg" alt="Vector 257" />
    </div>
    <img class="vector-258" src="/about/img/vector-258-1.svg" alt="Vector 258" />
    <img class="vector-259" src="/about/img/vector-259-1.svg" alt="Vector 259" />
    <img class="vector-260" src="/about/img/vector-260-1.svg" alt="Vector 260" />
    <img class="vector-261" src="/about/img/vector-261-1.svg" alt="Vector 261" />
    <p class="text-3 sfprodisplay-regular-normal-black-20px">
      Начинающим — чтобы не бояться ошибок. Создателям — чтобы учиться на провалах.
      Тем, кто в кризисе — чтобы поверить, что всё можно начать заново.
    </p>
  </div>

</div>
