<!DOCTYPE html>
<html>
  <head>
    <title>MediaProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Основные стили приложения -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

   
   <%= yield :head %>

   
    <!-- JS -->
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "/about/assets/index-D4y50xz6.js", type: "module", crossorigin: "anonymous" %>
  </head>


  <body>
    <nav>
      <h1><%= link_to "MediaProject", root_path %></h1>
      <ul>
        <li><%= link_to "Главная", root_path %></li>
        <li><%= link_to "О проекте", about_path %></li>
        <li><%= link_to "Категории", categories_path %></li>
        <li><%= link_to "Все посты", posts_path %></li>
      </ul>
    </nav>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>&copy; 2025 MediaProject. Все права защищены.</p>
    </footer>

    <!-- JS из Anima — подключаем внизу -->
    <%=

